*{
    box-sizing: border-box;
}
body{
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}
.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    color: black;
 }

.containerTab {
    padding: 15px;
    color: black;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .closebtn {
    float: right;
    color:black;
    font-size: 15px;
    cursor: pointer;
  }
  
